body {
    background: url('/static/single_pages/images/bg_color.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: 100%;
}
  
  .wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 114px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
  }

.margin-for-footer {
    margin-bottom: 130px;
}
