{% load socialaccount %} <!--로그인 버튼 활성화-->

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand display-6 fs-5 color-contrast-dark" href="/">건양대 총동아리연합회&nbsp&nbsp&nbsp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link display-6 fs-6" aria-current="page" href="/">총동아리연합회&nbsp&nbsp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link display-6 fs-6" href="/about_me/">동아리 소개&nbsp&nbsp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link display-6 fs-6" href="/blog/">자료실&nbsp&nbsp</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link disabled">@@</a>
          </li>
        </ul>

        <ul class="navbar-nav">  <!--로그인 모달 팝업 모션 추가-->
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/accounts/logout/">Log Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a> 
                {% endif %}
            </li>
        </ul>

      </div>
    </div>
  </nav> 

  <!-- 로그인 모달 -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i>&nbsp Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!--구글 아이디 로그인/이메일 로그인/이메일 회원가입-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i>&nbsp&nbsp Log in with Google</button></a>
                        <a type="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i class="fa-solid fa-envelope"></i>&nbsp&nbsp Log in with Username</a>
                    </div>
                    <div class="col-md-6">
                        <a type="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i class="fa-solid fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
        </div>
        </div>
    </div>