{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-info btn-sm float-right" href="/blog/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i>  Edit Post</a>
    </div>
    <div id="post-area"> 

        <!-- Post categories-->
        {% if p.category %}
            <span class="badge bg-secondary mb-2">{{ p.category }}</span>
        {% else %}
            <span class="badge bg-secondary mb-2">미분류</span>
        {% endif %}

        <!--Title-->
        <p class="display-6">{{ post.title }}</p>
        <div class="text-muted fst-italic mb-2">Posted on {{ post.created_at}}</div>
        <!--<h5 class="text-muted">{{ post.hook_text }}</h5>-->

        <!-- Author -->
        <p class="lead">
            by <a href="#">{{ p.author | upper }}</a> 
        </p>
                        
        {% if user.is_authenticated and user == post.author %}
       
        {% endif %}
        
        <hr>
        <!-- Preview image -->
        <!--{% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image">
        {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
        {% endif %}
            <hr> -->

        <!-- Post content-->
        <p>{{ post.get_content_markdown | safe }}</p>
                         
        {% if post.file_upload %} <!--파일 다운로드-->
            <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>

                <!--다운로드시 확장자명-->
                {% if post.get_file_ext == 'csv' %}
                    <i class="fa-solid fa-file-csv">&nbsp;</i>

                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fa-solid fa-file-excel">&nbsp;</i>

                {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fa-solid fa-file-word">&nbsp;</i>

                {% else %}
                    <i class="fa-solid fa-file">&nbsp;</i>
                {% endif %}

                {{ post.get_file_name }}

            </a>
        {% endif %}

        <hr>
    </div>
                      
   <!-- 댓글창 -->
   <div id="comment-area">
        <!-- Comment form -->
        <form class="mb-4">
            <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>                            
                {% if post.comment_set.exists %}
                    {% for coomment in post.comment_set.iterator %}
                    <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Single comment-->
                        <div class="d-flex" id="comment-{{ comment.pk }}">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px" /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">{{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small></div>
                                    <p>{{ comment.content | linebreaks }}</p>>
                                </div>
                        </div>        
                    </div>
                    {% endfor %}
                {% endif %}    
      
    </div>
{% endblock %}