<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} KYCLUB {% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}"
    media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}"
    media="screen">    
        <script src="https://kit.fontawesome.com/2d8ffc394d.js" crossorigin="anonymous"></script>

</head>


<body>
    <div class="wrap">
        {% include 'blog/navbar.html' %}

        
        <div class="container marketing">
            <!-- START THE FEATURETTES -->
            <div class="container mt-5">
                
              <h3 class="display-6 fs-4 fw-bold color-contrast-dark ">정규 동아리</h3>
              <table class="table table-bordered table-group-divider text-center">
                  
                <thead>
                    <tr>
                      <th scope="col" class="w-5">구분</th>
                      <th scope="col" class="w-25">동아리명</th>
                      <th scope="col" class="w-70">활동내용</th>
                      <th scope="col" class="w-5">설립년도</th>
                    </tr>
                </thead>

                  <tbody class="table-group-divider table align-middle">
                    <tr>
                      <th scope="row" rowspan=6>문화 분과</th>
                      <td>제식이</td>
                      <td>음악적 문화 활동</td>
                      <td>2022</td>
                    </tr>

                    <tr>
                      <td>엉거크루</td>
                      <td>활력넘치는 댄스활동</td>
                      <td>2013</td>
                    </tr>

                    <tr>
                      <td>RIP</td>
                      <td>락밴드 공연활동</td>
                      <td>1993</td>
                    </tr>

                    <tr>
                      <td>일루션</td>
                      <td>애니메이션 만화 제작 활동</td>
                      <td>1997</td>
                    </tr>

                    <tr>
                      <td>HENNIS</td>
                      <td>공연활동 및 콘텐츠 제작 활동</td>
                      <td>2019</td>
                    </tr>

                    <tr>
                      <td>포토박스</td>
                      <td>취미사진 촬영 및 전시활동</td>
                      <td>1992</td>
                    </tr>

                    <th scope="row" rowspan="3">종교 분과</th>
                      <td>DFC</td>
                      <td>기독교를 통한 신앙활동</td>
                      <td>1992</td>
                    </tr>

                    <tr>
                      <td>CCC</td>
                      <td>기독교를 통한 신앙활동</td>
                      <td>1992</td>
                    </tr>

                    <tr>
                      <td>JDM</td>
                      <td>기독교를 통한 신앙활동</td>
                      <td>2016</td>
                    </tr>


                    <th scope="row" rowspan="3">봉사 분과</th>
                      <td>굿도담</td>
                      <td>지역 복지기관 교육봉사활동</td>
                      <td>2015</td>
                    </tr>
                    <tr>
                        <td>품앗이</td>
                        <td>지역 복지기관 봉사활동</td>
                        <td>2004</td>
                    </tr>
                    <tr>
                        <td>RCY</td>
                        <td>지역 복지기관 봉사활동</td>
                        <td>1997</td>
                    </tr>

                    <th scope="row" rowspan="2">체육 분과</th>
                      <td>위스키</td>
                      <td>스키기술 향상 및 체력증진</td>
                      <td>2021</td>
                    </tr>

                    <tr>
                      <td>Block</td>
                      <td>배구를 통한 체력 향상</td>
                      <td>2021</td>
                    </tr>

                  </tbody>
              </table>
            </div>

            <div class="container mt-5">
                
                <h3 class="display-6 fs-4 fw-bold color-contrast-dark ">준 동아리</h3>
                <table class="table table-bordered table-group-divider text-center">
                    
                  <thead>
                      <tr>
                        <th scope="col" class="w-5">구분</th>
                        <th scope="col" class="w-25">동아리명</th>
                        <th scope="col" class="w-70">활동내용</th>
                        <th scope="col" class="w-5">설립년도</th>
                      </tr>
                  </thead>
  
                    <tbody class="table-group-divider table align-middle">
                      <tr>
                        <th scope="row" rowspan=3>문화 분과</th>
                        <td>광장</td>
                        <td>연극을 통한 공연예술활동</td>
                        <td>1991</td>
                      </tr>
  
                      <tr>
                        <td>플레이어</td>
                        <td>보드게임을 통한 친목도모</td>
                        <td>2023</td>
                      </tr>
  
                      <tr>
                        <td>PIC:TION</td>
                        <td>웹드라마 등 영상 제작</td>
                        <td>2022</td>
                      </tr>
  
    
  
                      <th scope="row" rowspan="6">체육 분과</th>
                        <td>스매쉬</td>
                        <td>배드민턴을 통한 친목도모</td>
                        <td>2021</td>
                      </tr>
  
                      <tr>
                        <td>아울렛</td>
                        <td>농구를 통한 건강증진</td>
                        <td>1994</td>
                      </tr>
  
                      <tr>
                        <td>여군동아리</td>
                        <td>여군양성을 위한 체력증진활동</td>
                        <td>2011</td>
                      </tr>

                      <tr>
                        <td>볼매</td>
                        <td>볼링을 통한 체력증진 및 친목도모</td>
                        <td>2023</td>
                      </tr>

                      <tr>
                        <td>건빵</td>
                        <td>여자축구 및 풋살을 통한 체력 증진</td>
                        <td>2023</td>
                      </tr>

                      <tr>
                        <td>시네루</td>
                        <td>당구를 통한 친목도모</td>
                        <td>2023</td>
                      </tr>
  
                    </tbody>
                </table>
                <div class="m-5 text-end">&nbsp&nbsp&nbsp최종수정일 : 2023-04-03</div>
              </div>

              

            <!--부트 자바 jsDelivr -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
            <!--부트 자바 jsDelivr 끝-->
</div>
{% include 'blog2/footer.html' %}
</body>

</html>
