<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <title>{% block head_title %} 총동아리연합회 {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog2/bootstrap/bootstrap.min.css' %}" media="screen">
        
    <script src="https://kit.fontawesome.com/2d8ffc394d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrap">
        {% include 'blog2/navbar.html' %}    
            
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="display-5">활동</h1>
                    <p class="lead mb-0">~ 활동은 여기에 업로드 ~</p>
                </div>
            </div>
        </header>

        <!-- Page content-->
        <div class="container my-3">
            <div class="row">
                <!--Blog entries-->
                <div class="col-12 " id="main-area">
                    {% block main_area %}
                    {% endblock %}
                </div>  
            </div>
        </div>
        <!-- Footer-->
        {% include 'blog2/footer.html' %}
                
                <!--부트 자바 jsDelivr -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
                <!--부트 자바 jsDelivr 끝-->
    </div>
</body>
</html>