{% extends 'blog2/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-info btn-sm float-right" href="/blog2/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i>  Edit Post</a>
    </div>

    <div id="post-area"> 
        <!-- Post categories-->
        {% if post.category %}
            <span class="badge bg-secondary mb-2">{{ post.category }}</span>
        {% else %}
            <span class="badge bg-secondary mb-2">미분류</span>
        {% endif %}

        <!--Title-->
        <p class="display-6">{{ post.title }}</p>
        <div class="text-muted fst-italic mb-2">Posted on {{ post.created_at}}</div>
        <!--<h5 class="text-muted">{{ post.hook_text }}</h5>-->

        <!-- Author -->
        <p class="lead">
            by <a href="#">{{ post.author | upper }}</a> 
        </p>
                        
        {% if user.is_authenticated and user == post.author %}
       
        {% endif %}
        
        <hr>
        <!-- Preview image -->
        <!--{% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image">
        {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
        {% endif %}
            <hr> -->

        <!-- Post content-->
        <p>{{ post.get_content_markdown | safe }}</p>
                         
        {% if post.file_upload %} <!--파일 다운로드-->
            <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>

                <!--다운로드시 확장자명-->
                {% if post.get_file_ext == 'csv' %}
                    <i class="fa-solid fa-file-csv">&nbsp;</i>

                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fa-solid fa-file-excel">&nbsp;</i>

                {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fa-solid fa-file-word">&nbsp;</i>

                {% else %}
                    <i class="fa-solid fa-file">&nbsp;</i>
                {% endif %}

                {{ post.get_file_name }}

            </a>
        {% endif %}

        <hr>
    </div>
    
    
    <div id="comment-area">
        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form | crispy }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% else %}
                    <a role="button" class="btn btn-outline-secondary" href="#" data-toggle="modal" data-target="#loginModal" style="width: 100%">로그인 후 입력하세요</a>
                {% endif %}
            </div>
        </div>

        {% if post.comment_set.exists %}
        {% for comment in post.comment_set.iterator %}
            <!-- Single Comment -->
            <div class="media mb-4" id="comment-{{ comment.pk }}">

                <div class="media-body">
                    {% if user.is_authenticated and comment.author == user %}
                        <div class="float-right d-grid gap-2 d-md-flex justify-content-md-end">
                            <a role="button"
                                class="btn btn-sm btn-info"
                                id="comment-{{ comment.pk }}-update-btn"
                                href="/blog2/update_comment/{{ comment.pk }}/">
                                edit
                            </a>
                            <form action="/blog2/delete_comment/{{ comment.pk }}/" method="POST" class="d-inline-block">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this comment?')">delete</button>
                            </form>
                        </div>
                    {% endif %}
                    <h5 class="mt-0">
                        {{ comment.author.username }}
                        &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                    </h5>
                    <p>{{ comment.content | linebreaks }}</p>
                    {% if comment.created_at != comment.modified_at %}
                        <p class="text-muted float-right"><small>Updated: {{ comment.modified_at }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}